<%= content_for :title do %>
  Movies
<% end %>
<h3 style="color:brown">Movies
  <% if current_user %>
    <%= link_to '<i class="glyphicon glyphicon-plus"></i> Add Movie'.html_safe, new_movie_path, class: "btn btn-default btn-sm" %>
  <% end %> 
</h3>

<%= render "/shared/movies_list", movies: @movies, is_ratable: true %>
